Flask
Flask-Cors
Flask-SocketIO
MetaTrader5
pandas
scikit-learn
joblib
gevent
gevent-websocket
pandas-ta
google-generativeai
python-dotenv
# Add these lines for authentication
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
google-auth
google-auth-oauthlib
Werkzeug